/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
html, body {
    @apply bg-gray-50 text-gray-900 antialiased;
}

input, button {
    @apply outline-none;
}

a {
    @apply text-blue-600 hover:underline;
}
